:where(.css-dev-only-do-not-override-1b0bdye).ant-tabs-left
  > .ant-tabs-content-holder
  > .ant-tabs-content
  > .ant-tabs-tabpane {
  padding-left: 0px;
}

:where(.css-dev-only-do-not-override-1b0bdye).ant-drawer-right
  > .ant-drawer-content-wrapper {
  padding: 10px;
  box-shadow: none;
}
:where(.css-dev-only-do-not-override-1b0bdye).ant-drawer .ant-drawer-content {
  border-radius: 10px;
}
