:where(.css-dev-only-do-not-override-qnu6hi).ant-drawer-right
  > .ant-drawer-content-wrapper {
  padding: 13px;
  box-shadow: none;
}
:where(.css-dev-only-do-not-override-qnu6hi).ant-drawer .ant-drawer-content {
  border-radius: 13px;
}
